*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*
:root{
    /*define a css var/
    --heading-color:yellow;
    --button-color:blue;
}

h1{
    color:var(--heading-color)
}
button{
    color: var(--button-color);
}
*/

/*h1{
    font-size: clamp();
    text-align: center;
}
/* we can use
@media screen and (max-width:600px){
    h1{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:601px) and (max-width:800px){
    h1{
        font-size: 3rem;
    }
}*/

div{
    text-align: center;
}
h1{
    font-size: clamp(1.5rem,10vw,5rem);
}
img{
    width: 100%;
    max-width: 500px;
}