<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=40
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--navbar-->
    <nav>
        <!---logo-->
        <img class="logo" src="./assets/logo1.png" alt="logo" width="100px">
        <!--Unordered list of hyperlinks-->
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Signup</a></li>
            <li><a href="#">Signin</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <!--mainbar-->
    <main>
        <div class="row">
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        </div>
        <div class="row">
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        <section class="card">
            <img src="./assets/profile.jpg" alt="">
            <h5>User 1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo ducimus culpa dolores odit impedit, error quis veniam, aut accusamus sed at dolore provident facere ab natus architecto. Alias, modi!</p>
            <button>Profile</button>
        </section>
        </div>
    </main>
    <!---footerbar-->
    <footer>
        <div class="address">
        <h4>address</h4>
        </div>
        <div class="details">
            <h4>mobile</h4>
            <h4>email</h4>
        </div>
    </footer>
</body>
</html>