*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Nav styles*/
nav{
    height: 60px;
    background-color: rgb(51, 49, 49);
    justify-content: space-between;
    

}
nav ul{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 400px;
    list-style-type: none;
}

nav ul a{
    text-decoration:none;
    font-size: 1.5rem;
}
nav .logo{
    border-radius: 50px;
    width: 55px;
    margin-top: 2px;
}



/* main styles */
main{
    margin:0px 70px;

}

.card{
    /*flex-shrink: 0;
    flex-grow:1;
    flex-basis: 300px;*/
    flex: 0 0 300px;
    width:300px;
    padding:15px;
    text-align: center;
    margin-bottom:50px;
    box-shadow: 1px 1px 10px grey;
}   




.card img{
    width: 100%;
    border-radius: 2000px;
}

.row{
    display: flex;
    justify-content: space-around;
}

.card button{
    border:none;
    background-color: lightblue;
   
}

/*Footer styles*/
footer{
    background-color: rgb(8, 7, 7);
    width: 1267px;
    height: 80px;
}


















@media screen and (max-width: 700px){
    .row{
        flex-wrap:wrap;
        flex: 0 0 45%;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
    }
}
    
