@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+IN+Guides&display=swap');
h1{
    color:rgb(98, 90, 205);
    text-align: center;
    font-size: 50px;
    font-family: "Playwrite IN Guides", cursive;
    padding: 50px;
    background-color: rgb(255, 153, 0);
} 
img {
    //display:block;
    
    float:right;
}